.box{
    border-end-end-radius: 5px;
    margin:5px;
    padding:10px;
}
.box1{
    background-color:antiquewhite;
    display: flex;
    height: 200px;
     width: 1400px;
    
}
.box2{
    background-color:rgb(79, 165, 39);
  align-self: flex-start;
}
.box3{
    background-color:rgb(50, 28, 85)
}
.box4{
    background-color:rgb(13, 103, 155)
}

.box5{
    background-color:rgb(119, 47, 160)
}
.box6{
    background-color:rgb(48, 6, 65)
}.box7{
    background-color:rgb(153, 76, 76)
}
.box8{
    background-color:rgb(3, 15, 0)
}
